.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  width: 160px;
}

.pushable:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  /* background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  ); */
  will-change: transform;
  transition: transform 200ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.front {
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: block; */
  position: relative;
  /* padding: 12px 42px; */
  width: 160px;
  height: 150px;
  border-radius: 8px;
  font-size: 1.25rem;
  color: white;
  /* background: hsl(345deg 100% 47%); */
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.pushable:hover:not(:disabled) {
  filter: brightness(110%);
}
.pushable:hover:not(:disabled) .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active:not(:disabled) .front {
  transform: translateY(-2px) scale(0.99);
  transition: transform 34ms;
}

.pushable:active:not(:disabled) .edge {
  transform: scale(0.99);
  transition: transform 34ms;
}

.pushable:hover:not(:disabled) .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active:not(:disabled) .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

.pad-grid {
  display: grid;
}

.pad {
  background: radial-gradient(#fca5a5, #ef4444);
  border-radius: 6px;
  width: 100px;
  height: 100px;
  position: relative;
}

.pad::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
}

.container {
  padding: 2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
